<div class="modal-overlay">
    <form [formGroup]="formDialog" class="modal-container">
        <h2>{{ description.header }}</h2>
        <div class="modal-body">
            <input class="field" formControlName="name" placeholder="Item name*" type="text">
            <span *ngIf="formDialog.controls.name.invalid && formDialog.controls.name.touched" class="field-error">
                Item name is required.
            </span>
            <input class="field" formControlName="amount" placeholder="Item amount*" type="number">
            <span *ngIf="formDialog.controls.amount.invalid && formDialog.controls.amount.touched" class="field-error">
                Item amount is required. This should be only an integer and positive.
            </span>
        </div>
        <div class="modal-footer">
            <button (click)="closeDialog()" class="btn btn-left" title="Close dialog" type="button">⊘</button>
            <button (click)="confirmDialog()" [disabled]="formDialog.invalid" [title]="description.buttonTitle"
                    class="btn btn-right" type="button">
                {{ description.buttonText }}
            </button>
        </div>
    </form>
</div>
