<div class="list-container">
    <h2 class="header">Cart List</h2>
    
    <ul class="list">
        <li>
            <span class="content">Lorem ipsum</span>
            <span class="btn-list-right">−</span>
        </li>
    </ul>
    
    <ng-template>
        <ul>
            <li class="empty-list">
                No items found. You have not added <em>anything</em> to the basket yet?
            </li>
        </ul>
    </ng-template>
    
    <button class="btn" type="button">🠛</button>
</div>
