.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-height: calc(100% - 15px * 2);
    margin: 0;
    padding: 15px;
}
